# place in /etc/udev/rules.d/ and copy the connect script to /usr/local/bin/
ACTION=="add", SUBSYSTEM=="net", ATTRS{idVendor}=="0af0", ATTRS{idProduct}=="7401", RUN+="/usr/local/bin/connect3G"
