*.swp
*.bak
filesets-cache.el
woman-cache.el
/auto-save-list/
*~
/.org-id-locations
/TAGS
/ac-comphist.dat
/delme.patch
/links/.emacs.d/.org-id-locations
/links/.emacs.d/ac-comphist.dat
/links/.emacs.d/tramp
/links/.i3/config
