*.swp
*.bak
filesets-cache.el
woman-cache.el
/auto-save-list/
*~
/.org-id-locations
/TAGS
/ac-comphist.dat
/delme.patch
/links/.emacs.d/.org-id-locations
/links/.emacs.d/ac-comphist.dat
/links/.i3/config
/.emacs.desktop
/links/.emacs.d/tramp
/links/.mc/history
.emacs.desktop
.emacs.desktop.lock
/links/.emacs.d/recentf
/links/.emacs.d/ido.last
/links/.emacs.d/bookmarks
links/.emacs.d/elpa/
/elpa/
