           *printCommand: lpr

    xterm*background:	#f0f0f0
    xterm*foreground:       black
 xterm.eightBitInput:	true
   xterm*multiScroll:	on
    xterm*jumpScroll:	on
! xterm*font:	-adobe-courier-bold-r-normal--14-140-75-75-m-90-iso8859-1
     xterm*ScrollBar: on
     xterm*SaveLines: 2000
    xterm*VisualBell: true
xterm.eightBitOutput:	true

            Ghostview.pageMedia:  A4

! ===========================================================================
!                               Motif
! ===========================================================================

     *XmText.translations: #override\n\
           <Key>osfDelete: delete-next-character()\n\
        <Key>osfBackSpace: delete-previous-character()\n

                 *XmTextField.translations: #override\n\
                            <Key>osfDelete: delete-next-character()\n\
                         <Key>osfBackSpace: delete-previous-character()\n


                 Emacs*EmacsFrame.geometry: 110x105-0+0
                            Emacs*geometry: 110x106-0+0
.xemacs.shell.container.menubar.background: gray77

!Emacs*font: -nil-profont-medium-r-normal-*-*-110-*-*-c-*-iso8859-1
Emacs*menubar*font: -b&h-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-15
Emacs*menu*font: -b&h-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-15
Emacs*popup*font:  -b&h-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-15

Emacs*menuBar:          off
Emacs*verticalScrollBars:     off
Emacs*toolBar:          off
Emacs*internalBorder:      1

              gnuplot*line1Color:  red
              gnuplot*line2Color:  blue
              gnuplot*line3Color:  brown
              gnuplot*line4Color:  coral
              gnuplot*line5Color:  magenta
              gnuplot*line6Color:  sienna
              gnuplot*line7Color:  orange
              gnuplot*line8Color:  cyan

Xscilab*vpane.Vtsci.translations: #override\n\
                       <Key>Home:      string("") \n\
                        <Key>End:       string("") \n\
                  <Key>BackSpace: string("") \n\
                     <Key>Delete: string("")\n

URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.inheritPixmap: true
URxvt.secondaryScroll: true
! URxvt*font: xft:Bitstream Vera Sans Mono:pixelsize=12:antialias=true:hinting=true
! URxvt*boldFont: xft:Bitstream Vera Sans Mono:bold:pixelsize=12:antialias=true:hinting=true
  URxvt*font: xft:DejaVu Sans Mono:pixelsize=11:antialias=true:hinting=true
  URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=11:antialias=true:hinting=true
! URxvt*font: xft:Liberation Mono:pixelsize=12:antialias=true:hinting=true
! URxvt*boldFont: xft:Liberation Mono:bold:pixelsize=12:antialias=true:hinting=true
! URxvt*font: xft:terminus:pixelsize=14
! URxvt*boldFont: xft:terminus:bold:pixelsize=14
! URxvt*font:-*-courier-medium-r-normal-*-14-*-*-*-*-*-iso8859-1
! URxvt*boldFont:-*-courier-bold-r-normal-*-14-*-*-*-*-*-iso8859-1
! URxvt.font: xft:Terminus:pixelsize=12
! URxvt*boldFont: xft:terminus:bold:pixelsize=12
URxvt*visualBell: true
URxvt*fading: 50
URxvt*fadeColor: black
URxvt.perl-ext-common: default,url-select,keyboard-select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-w: perl:url-select:select_next
URxvt.urlLauncher: x-www-browser
! URxvt.matcher.button: 1
! URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.urgentOnBell: True
!URxvt*color4: RoyalBlue
!URxvt*color12: RoyalBlue
URxvt.perl-lib: /usr/local/lib/urxvt/perl/urxvt-perls

! !
! ! "Mine"
! !
! URxvt.tintColor: blue
! URxvt.shading: 40
! URxvt.foreground: white
! URxvt.background: black
! URxvt*pointerColor: yellow
! URxvt*pointerColor2: black
! URxvt*borderColor: black
! urxvt*foreground: #f2f2f2
! urxvt*background: #101010

! ! Normal
! ! color0    black
! ! color1    red
! ! color2    green
! ! color3    yellow
! ! color4    blue
! ! color5    purple
! ! color6    cyan
! ! color7    white

! URxvt*color0:    #6c6c6c
! URxvt*color1:    #e9897c
! URxvt*color2:    #b6e77d
! URxvt*color3:    #ecebbe
! URxvt*color4:    #a9cdeb
! URxvt*color5:    #ea96eb
! URxvt*color6:    #c9caec
! URxvt*color7:    #f2f2f2

! ! Light
! ! color8    black
! ! color9    red
! ! color10    green
! ! color11    yellow
! ! color12    blue
! ! color13    purple
! ! color14    cyan
! ! color15    white

! URxvt*color8:    #747474
! URxvt*color9:    #f99286
! URxvt*color10:    #c3f786
! URxvt*color11:    #fcfbcc
! URxvt*color12:    #b6defb
! URxvt*color13:    #fba1fb
! URxvt*color14:    #d7d9fc
! URxvt*color15:    #e2e2e2


!
! Zenburn
!
URxvt.shading: 40
URxvt*tintColor: gray20
URxvt.internalBorder: 0
URxvt.pointerBlank: true
URxvt*background: #000010
URxvt*foreground: Wheat
URxvt*cursorColor: magenta
URxvt*colorUL: #c5f779
URxvt*underlineColor: #c5f779
URxvt*color0: #000000
URxvt*color1: #9e1828
URxvt*color2: #aece92
URxvt*color3: #968a38
URxvt*color4: #414171
URxvt*color5: #963c59
URxvt*color6: #418179
URxvt*color7: #bebebe
URxvt*color8: #666666
URxvt*color9: #cf6171
URxvt*color10: #c5f779
URxvt*color11: #fff796
URxvt*color12: #4186be
URxvt*color13: #cf9ebe
URxvt*color14: #71bebe
URxvt*color15: #ffffff
